body {
    background-color: #D8D8D8;
    height: 100vh;
    /*สูงเต็มหน้าเว็บ*/
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body[data-item-status="close"] {
    background-color: black;
    height: 100vh;
    /*สูงเต็มหน้าเว็บ*/
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
  
  }
  
  body[data-item-status="open"] {
    background-color: #D8D8D8;
    height: 100vh;
    /*สูงเต็มหน้าเว็บ*/
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 2s;
  }
  
  @keyframes kraprip{
    0% {
      opacity: 0.5;
      scale: 0.9;
    }
    50% {
      opacity: 0.6;
      scale: 1;
    }
    100% {
      opacity: 0.5;
      scale: 0.9;
    }
  
  }
   
    /* (D) MATCH HEIGHT */
    .res-circle::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
     
    /* (E) TEXT BLOCK */
    .circle-txt {
      /* (E1) CENTER TEXT IN CIRCLE */
      position: absolute;
      bottom: 50%;
      width: 100%;
      text-align: center;
      color: white;
    }
  
  
  /*----------------mobile---------------*/
  nav {
    background-color: #525252;
    height: auto;
    display: flex;
    /*ให้ขึ้นมาเรียงกัน*/
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    color: #fff;
  
  }
  
  .nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
  
  }
  
  
  .logo {
    margin: 5px 0 5px 0;
    /*border: 1px solid red;*/
  }
  
  ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
    /*เพื่อไม่เเสดงผลเมนู พอกดเเล้วค่อยเเสดง*/
  }
  
  ul li {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    padding: 5px 50px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  ul li:first-child {
    margin-top: 0;
  }
  
  ul li:hover {
    opacity: 0.5;
  }
  
  .active {
    /*เมื่อมีการเรียกใช้ตรงtoggle ที่เป็นแฮมเบอเกอร์*/
    display: flex;
  
  }
  
  #chest {
    width: 400px;
    margin-top: 100px;
    cursor: pointer;
    z-index: 1;
  }
  
  .wrap {
    display: flex;
    position: relative;
    justify-content: center;
  
  }
  
  .open-text[data-item-status="close"] {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20 px;
    color: white;
    font-size: 20px;
  
  }
  
  .open-text[data-item-status="open"] {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20 px;
    color: black;
    transition: all 1s;
    font-size: 20px;
  }
  
  #note[data-item-status="close"] {
    width: 350px;
    height: 150px;
    margin-top: 350px;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 0;
   
  
  }
  
  #note[data-item-status="open"] {
    width: 350px;
    height: 150px;
    margin-top: 300px;
    position: absolute;
    display: block;
    opacity: 1;
    transition: scale 1s opacity 2s;
    z-index: 10;
  
  }
  
  .res-circle[data-item-status="close"] {
        
    width: 100px;
    border-radius: 50%;
    margin-top: 380px;
   
    background: #866E17;
    
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    z-index: 0;
    
    opacity: 0;
  }
  .res-circle[data-item-status="open"] {
      
    width: 100px;
    border-radius: 50%;
    margin-top: 340px;
   
    background: #866E17;
    
    opacity: 1;
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    z-index: 21;
    animation: kraprip 5s infinite;
    transition: opacity 2s;
    cursor: pointer;
  }
  
  /*-------desktop--------*/
  /*ถ้าหน้าจอใหญ่กว่า 800 pxจะเปลี่ยนรูปแบบ */
  @media screen and (min-width: 890px) {
    nav {
      height: 80px;
      flex-direction: row;
  
    }
  
    .logo {
      padding-left: 50px;
      margin: 0;
      width: 20%;
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      /*ชิดขวา*/
      width: 80%;
      flex-direction: row;
  
    }
  
    ul li {
      display: inline-block;
      margin: 0 40px 0 0;
      text-align: left;
      border-bottom-style: none;
      padding: 0;
      font-size: 15px;
  
    }
  
    .nav-toggle {
      display: none;
      /*ไม่แสดงแฮมเบอเกอร์*/
    }
  
    .wrap {
      display: flex;
      position: relative;
      justify-content: center;
  
    }
  
    #chest {
      width: 400px;
      margin-top: 150px;
      z-index: 1;
    }
  
    #note[data-item-status="close"] {
      width: 350px;
      height: 150px;
      margin-top: 350px;
      position: absolute;
      display: block;
      opacity: 0;
      z-index: 0;
     
  
    }
  
    #note[data-item-status="open"] {
      width: 350px;
      height: 150px;
      margin-top: 350px;
      position: absolute;
      display: block;
      opacity: 1;
      transition: scale 1s opacity 2s;
      z-index: 10;
  
    }
    /* #note[data-item-status="open"]:hover {
      width: 350px;
      height: 150px;
      margin-top: 350px;
      position: absolute;
      display: block;
      opacity: 1;
      transition: opacity 2s, scale 0.5s;
      z-index: 10;
      scale: 1.1;
      
      cursor: pointer;
    } */
  
    .open-text[data-item-status="close"] {
      display: flex;
      position: relative;
      justify-content: center;
      margin-top: 20 px;
      color: white;
      font-size: 20px;
  
    }
  
    .open-text[data-item-status="open"] {
      display: flex;
      position: relative;
      justify-content: center;
      margin-top: 20 px;
      color: black;
      transition: all 1s;
      font-size: 20px;
    }
    .res-circle[data-item-status="close"] {
        
      width: 100px;
      border-radius: 50%;
      margin-top: 380px;
     
      background: #866E17;
      
     
      /* (C) NECESSARY TO POSITION TEXT BLOCK */
      line-height: 0;
      position: absolute;
      z-index: 0;
      
      opacity: 0;
    }
    .res-circle[data-item-status="open"] {
      
      width: 100px;
      border-radius: 50%;
      margin-top: 380px;
     
      background: #866E17;
      
      opacity: 1;
      /* (C) NECESSARY TO POSITION TEXT BLOCK */
      line-height: 0;
      position: absolute;
      z-index: 21;
      animation: kraprip 5s infinite;
      transition: opacity 2s;
      cursor: pointer;
    }
    .container{
        position: relative;
    }
    .logo{
      position: relative;
    }
    #text1{
        font-size: 20px;
        margin-top: 50px;
        position: relative;
    }
    #north_pb{
        font-size: 50px;
        margin-top: 200px;
        margin-left: 170px;
        position: relative;
    }
    #north_pb2{
        font-size: 18px;
        margin-top: 100px;
        text-align: center;
        position: relative;
    }
    #north1{
      width: 700px;
      height: 143px;
      margin-top: 70px;
      margin-left: 650px;
      position: absolute;
    }
    #north2{
      width: 511px;
      height: 511px;
      margin-top: 130px;
      margin-left: 450px;
      position: absolute;
    }
    #north_pb3{
        font-size: 18px;
        margin-top: 400px;
        text-align: center;
        position: relative;
    }
    #north_pb4{
        font-size: 18px;
        margin-top: 70px;
        text-align: center;
        position: relative;
    }
    #north3{
      width: 100%;
      height: 60%;
      margin-top: -220px;
      position: absolute;
    }
    #north4{
      width: 818px;
      height: 531px;
      margin-top: -470px;
      margin-left: 320px;
      position: absolute;
    }
    #north5{
      width: 100%;
      height: 80%;
      margin-top: -150px;
      position: absolute;
    }
    #north6{
      width: 100px;
      height: 155px;
      margin-top: 20px;
      position: absolute;
    }
  }
