body {
  background-color: #D8D8D8;
  height: 100vh;
  /*สูงเต็มหน้าเว็บ*/
  font-family: 'Kodchasan', sans-serif;
  margin: 0;
  padding: 0;
}

section{
  /*width: 1920px;*/
  height: 100%;
  /*background-color: yellow;*/
}
.container{
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  /*border:1px solid red;*/
}

.sec1-con{
  display: flex;
  
  /*justify-content:space-between;*/
}

.sec1-img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.sec1-img-cloud{
position: absolute;
display: flex;
justify-content: center;
/* height: 885px; */
}
.sec1-img-left{
/*border: 1px solid red;*/
position: relative;
margin-left: 20%;


}
.sec1-img-right{
/*border: 1px solid red;*/
margin-top: 50%;
margin-left: 90%;
position: absolute;
}
.sec2-con img{
height: 30vw;
margin-top: auto;
}
.sec2-con{
display: flex;
position: relative;
/* border:1px solid red; */
height: 100%;
}
.sec2-top{
display: flex;
position: absolute;
}
.sec2-img{
margin-left: 5%;
margin-top: 2%;

}
.sec2-info-1{
/* border: 1px solid red; */
margin-left: 1%;
width: 320px;

}
.sec2-info-2{
margin-top: 2%;
margin-left: 1%;
width: 1100px;
/* border: 1px solid red; */

}
.test{
  width: 15vw;
  height: 15vw;
}







/*nav*/


/*----------------mobile---------------*/
nav {
  background-color: #525252;
  height: auto;
  display: flex; /*ให้ขึ้นมาเรียงกัน*/
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}
.sticky {
  position: fixed;
  width: 100%;
}
.nav-toggle{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}
.logo{
  margin: 40px 0 40px 0;
  /*border: 1px solid red;*/
}
ul{
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  display: none; /*เพื่อไม่เเสดงผลเมนู พอกดเเล้วค่อยเเสดง*/
}
ul li{
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  padding: 5px 50px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li:first-child{
  margin-top: 0;
}
ul li:hover{
  opacity: 0.5;
}
.active{ /*เมื่อมีการเรียกใช้ตรงtoggle ที่เป็นแฮมเบอเกอร์*/
  display: flex;
}
/*-------desktop--------*/
/*ถ้าหน้าจอใหญ่กว่า 800 pxจะเปลี่ยนรูปแบบ */
@media screen and (min-width: 800px){
  nav{
      height: 80px;
      flex-direction: row;
  }
  .logo{
      padding-left: 50px;
      margin: 0;
      width: 20%;
  }
  ul{
      display: flex;
      justify-content: flex-end; /*ชิดขวา*/
      width: 80%;
      flex-direction: row;
      
  }
  ul li {
      display: inline-block;
      margin: 0 70px 0 0;
      text-align: left;
      border-bottom-style: none;
      padding: 0;
      
  }
  .nav-toggle{
      display: none; /*ไม่แสดงแฮมเบอเกอร์*/
  }
}