body {
  background-color: #D8D8D8;
  height: 100vh;
  /*สูงเต็มหน้าเว็บ*/
  font-family: 'Kodchasan', sans-serif;
  margin: 0;
  padding: 0;

}

section {
  position: relative;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: #D8D8D8;
  /*background-color: yellow;*/
}

.container {
  position: relative;
  display: inline;
  background-color: antiquewhite;

}


/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/*----------------mobile---------------*/
nav {
  background-color: #525252;
  height: auto;
  display: flex;
  /*ให้ขึ้นมาเรียงกัน*/
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.sticky {
  position: fixed;
  width: 100%;
}

.nav-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}

.logo {
  margin: 40px 0 40px 0;
  /*border: 1px solid red;*/
}

ul {
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  display: none;
  /*เพื่อไม่เเสดงผลเมนู พอกดเเล้วค่อยเเสดง*/
}

ul li {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  padding: 5px 50px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

ul li:first-child {
  margin-top: 0;
}

ul li:hover {
  opacity: 0.5;
}

.active {
  /*เมื่อมีการเรียกใช้ตรงtoggle ที่เป็นแฮมเบอเกอร์*/
  display: flex;
}

.block {
  position: relative;
  display: flex;
  text-align: center;
  /* background: rgb(168, 28, 28); */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  margin-top: 7vh;

}

.res-circle[data-item-status="close"] {

  width: 100px;
  border-radius: 50%;
  margin-top: 380px;

  background: #866E17;


  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: absolute;
  z-index: 0;

  opacity: 0;
}

.res-circle[data-item-status="open"] {

  width: 13%;
  margin-top: 63%;
  border-radius: 50%;

  background: #866E17;

  opacity: 0.7;
  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: absolute;
  z-index: 21;
  transition: opacity 2s;
  cursor: pointer;
}

/*-------desktop--------*/
/*ถ้าหน้าจอใหญ่กว่า 800 pxจะเปลี่ยนรูปแบบ */
@media screen and (min-width: 800px) {
  nav {
    height: 50px;
    flex-direction: row;
  }

  .logo {
    padding-left: 50px;
    margin: 0;
    width: 20%;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    /*ชิดขวา*/
    width: 80%;
    flex-direction: row;

  }

  ul li {
    display: inline-block;
    margin: 0 3vw 0 0;
    text-align: left;
    border-bottom-style: none;
    padding: 0;
    font-size: 1vw;
  }

  .nav-toggle {
    display: none;
    /*ไม่แสดงแฮมเบอเกอร์*/
  }

  .res-circle[data-item-status="close"] {

    width: 100px;
    border-radius: 50%;
    margin-top: 380px;

    background: #866E17;


    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    z-index: 0;

    opacity: 0;
    cursor: pointer;

  }

  .res-circle[data-item-status="open"] {

    width: 100px;
    border-radius: 50%;
    background: #866E17;
    margin-left: 55%;
    margin-top: -330;
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    z-index: 21;
    opacity: 0.5;
    cursor: pointer;
  }

  .block {
    position: relative;
    display: flex;
    text-align: center;
    /* background: rgb(168, 28, 28); */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;

  }

  .logo {
    position: relative;
    animation: aura 5s;
  }

  #earth {
    width: auto;
    height: 32vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 18vw;
  }

  #flowerpink {
    width: 8vw;
    height: 8vw;
    position: absolute;
    margin-top: 26vh;
    margin-left: 50vw;
    animation: mymove 3s infinite;
    animation-timing-function: linear;
  }

  #chaba {
    width: 7vw;
    height: 7vw;
    position: absolute;
    margin-top: 18vh;
    margin-left: 57vw;
    animation: mymove 3s infinite;
    animation-timing-function: linear;
  }

  #people {
    width: 15vw;
    height: 22vw;
    position: absolute;
    margin-top: 10vw;
    margin-left: 49vw;
  }

  #textlogo {
    width: 55vw;
    height: 15vw;
    position: absolute;
    margin-top: 63vh;
    margin-left: 22vw;
    animation: aura 5s;
  }

  .suk {
    position: relative;
    margin-top: 5vh;
    overflow: hidden;
    height: 68vh;
    padding-top: 1%;
  }

  .sukpic {
    overflow: hidden;
  }

  #sukkon {
    width: 30vw;
    height: 35vw;
    overflow: hidden;
    position: absolute;
    margin-left: 35vw;
    margin-top: -2%;
    /* background-color: red; */
  }

  .des {
    position: relative;
    text-align: center;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #textsuk {
    font-size: 20px;
    position: relative;
  }

  #pb {
    font-size: 25px;
    position: relative;
    font-weight: bold;
  }

  #kem {
    width: 5vw;
    height: 20vw;
    rotate: 25deg;
    position: relative;
    margin-top: 12vh;
    margin-left: 54vw;
  }

  #yod1 {
    width: 5vw;
    height: 9vw;
    position: absolute;
    margin-top: 35vh;
    margin-left: -18vw;
  }

  #yod2 {
    width: 5vw;
    height: 9vw;
    position: absolute;
    margin-top: 35vh;
    margin-left: -5vw;
  }

  #tid8 {
    width: 8vw;
    height: 7vw;
    position: absolute;
    margin-top: 39vh;
    margin-left: -13vw;
  }

  #yod9 {
    width: 8vw;
    height: 6vw;
    position: absolute;
    margin-top: 22vh;
    margin-left: -13vw;
  }

  #tiger {
    width: 12vw;
    height: 12vw;
    position: absolute;
    margin-top: 55vh;
    margin-left: -15vw;
  }

  #yod1[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
  }

  #yod2[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
  }

  #yod9[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
  }

  #tid8[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
  }

  #tiger[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
  }

  #kem[data-item-status="open"] {
    opacity: 1;
    z-index: 1;
  }

  #kem[data-item-status="close"] {
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
  }

  .dot {
    position: absolute;
    width: 70%;
    height: 90%;
    border-radius: 50%;
    background: #D8D8D8;
    margin-left: 15%;
    opacity: 20%;
  }

.dot:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
  z-index: 1000;
}

.dot:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #e5f403;
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(80px);
  animation: aura 2s;
}
@keyframes aura{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}
#btnintro{
  width: 13%;
  height: 8%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #EDE646;
  position: absolute;
  bottom: 3%;
  margin-left: 86%;
}
.btnintro-txt {
  position: absolute;
  bottom: 35%;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 600;
}
#btnintro[data-item-status="open"] {
  opacity: 1;
  z-index: 1;
}
#btnintro[data-item-status="close"] {
  opacity: 0;
  z-index: 0;
}
.dotwhite {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin-left: 15%;
  opacity: 0.7;
  margin-top: -5%;
}

.dotwhite:before {
content: '';
position: absolute;
top: 6px;
left: 6px;
right: 6px;
bottom: 6px;
border-radius: 50%;
z-index: 1000;
}

.dotwhite:after {
content: '';
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background: #ffffff;
border-radius: 50%;
z-index: 1000;
z-index: 1;
filter: blur(80px);
}
}