body{
    margin: 0;
}
.parallax{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: aqua;
}

.mountain{
    width: 100vw;
    height: 150vh;
    z-index: 10;
    background: url('111.png') bottom / contain no-repeat;
}
h1{
    position: absolute;
    top:70%;
    color: #fff;
    font-size: 3.8vw;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
}
.moon{
    position: absolute;
    left: 50%;
    top: 70%;
    background: #f5d059;
    box-shadow: inset 15px 0px #edc541;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}